@model Yeluru_Sai_HW7.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MembersOnly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MembersOnly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SponsoringCommittee.CommitteeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SponsoringCommittee.CommitteeName)
        </dd>   
            
        <table class="table table-bordered">
            <tr>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
            </tr>

            @foreach (var item in Model.AppUsers)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                
            </tr>
            }
            @*
            @foreach (var item in Model.Members)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                </tr>
            }*@
        </table>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
